
body
 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color:  #3a6d54;; 
}

.elements {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 10%;
}

.header-logo {
  background-color: white;
  display: inline-block;
  padding: 0;
}

.links {
  display: flex;
  gap: 20px
}

a {
  font-size: 16px;
  color: #e5e7eb;
  text-decoration: none;
  color: inherit;       /* même couleur que le texte */
  font-weight: 500;     /* optionnel */
}

.main-text {
  font-size: 42px;
  color: #f9faf8; 
  font-weight: 900;
  margin: 0;
}

h1 {
  margin: 0;
  line-height: 1.2;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.bouton {
  background-color: #3882f6;
  color: white;
  padding: 10px;
  margin: 20px;
  font-weight: 800;
  border-radius: 20px;
  border: 2px solid white;
  transition: background-color 0.2 ease;
}

.bouton:hover {
  background-color: darkblue;
}

.hero {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}

.text-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 700px;
  margin: 0;
}

.hero-img {
  display: flex;
}

.hero-img img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 30px;
}

.lien-texte {
  color: #1f2937;
  text-decoration: underline;
}

.présentation {
  padding: 2% 10%; 
  text-align: center;
}
.cta {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 10%;
  justify-content: space-around;
  align-items: center;
}

.texte-cta {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 700px;
  margin: 0;
}

.image-cta {
  display: flex;
}


.services {
  padding: 2% 10%;
  text-align: center;
}

.cards {
  display: flex;
  align-items: stretch; /* même hauteur pour toutes les cards */
  justify-content: center; /* centre le bloc horizontalement  */
  gap: 40px;
  margin-top: 40px;
  flex-wrap: nowrap; /* toutes sur une ligne */
}

.cards > a:hover img {
  transform:scale(1.05);
  filter: brightness(0.8);
}

.cards img {
  width: 100%;
  max-width: 100%;/* empêche le débordement sur mobile */
  height: auto;
  border-radius: 5px;
  border: 2px solid #3882f6; 
  display: block; /* évite l'espcace blanc en bas de l'image */
  transition: transform 0.2s ease;
}

.cards > a {  /* selecteur enfant direct, donc ici cible les enfants de cards mais pas leurs enfants à eux */
  display: flex;
  flex-direction: column;
  align-items: center; /* centre image + texte horizontalement */
  gap: 12px; 
  width: 220px; /*largeur fixe de la card*/
  padding: 16px;
  box-sizing: border-box;
  color: #1f2937;
  cursor: pointer;
}

.avis {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
}

.avis-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.avis-item {
  max-width: 260px;
  font-style: italic;
}

.stars {
  color: #f5b301;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.avis-item span {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

.avis-source {
  margin-top: 32px;
  font-size: 0.9rem;
  opacity: 0.8;
}
.avis-source a {
  opacity: 1;
  color: #000; /* ou ta couleur principale */
  font-weight: 500; /* optionnel */
}

.zone {
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.a-propos {
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}

.texte-a-propos {
  display: flex;
  flex-direction: column;
}

.photo-a-propos {
  display: flex;
}

.photo-a-propos img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 30px;
}

.a-propos-text {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.author {
  font-weight: 900;
  align-self: flex-end;
  margin-top: 10px;
  padding-right: 120px;
}

.action {
  background-color: #3882f6;
  color: white;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 20px; 
}

.action-sub {
  text-align: start;
}

.action-title {
  font-weight: 900;
}

footer {
  background-color:#1f2937; 
  color: white;
  text-align: center;
  padding: 20px;
}
